*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding: 30px;
    border: 2px solid;
    display: flex;
    justify-content: center;
}
.conteudo{
    border: 2px solid;
    width: 1200px;
    height: 800px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    gap: 30px;
}
.c_1,
.c_2,
.c_3{
    width: 500px;
    height: 300px;
    border: 2px solid;
    position: relative;
    left: 5%;
    top: 5%;
}

section{
    padding: 30px;
    border: 2px solid;
}
.titulo{
    border: 2px solid;
    width: auto;
    height: 100px;
}
footer{
    padding: 30px;
    border: 2px solid;
}
.rodape{
    border: 2px solid;
    width: auto;
    height: 100px;
}
body{
    background-color: papayawhip;
}
/**@media (max-width:1024px) {
    .c_1,
    .c_2,
    .c_3{
        background-color: rgb(100, 153, 100);
        width: 150px;
        height: 300px;
    }
}**/
@media (max-width:820px) { 
    .c_1,
    .c_2,
    .c_3{
        background-color: rgb(153, 153, 201);
        width: 300px;
        height: 300px;
    }
    
}
@media (max-width:393px) { 
    .c_1,
    .c_2,
    .c_3{
        background-color: rgb(192, 99, 99);
        width: 100px;
        height: 100px;
     }
}